.forgotpassword-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 300px;
  padding: 2rem;
  border-radius: 4px;
  box-shadow: 0 0 2px 2px rgb(0, 0, 0, 0.1);
  margin: 0 auto;
}

.forgotpassword-fieldset {
  border: none;
  padding: 0;
}

.forgotpassword-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.forgotpassword-text {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 14px;
  color: #777;
}

.forgotpassword-input {
  margin-bottom: 1rem;
}

.forgotpassword-button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.forgotpassword-or-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}

.forgotpassword-or-divider {
  width: 40%;
  height: 1px;
  background-color: #ddd;
}

.forgotpassword-signup-link {
  text-align: center;
  color: #333;
  text-decoration: none;
}

.forgotpassword-signup-link:hover {
  color: gray;
}

.forgotpassword-hr {
  border: none;
  border-top: 1px solid #ddd;
  width: 121%;
  margin: 1rem 0;
}

.forgotpassword-back-link {
  text-align: center;
  color: #333;
  text-decoration: none;
  margin-top: 1rem;
}

.forgotpassword-back-link:hover {
  color: gray;
}
